body {
  font-family: 'Lora', serif;
  color:;
  margin: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: rgb(255,255,255);
  font-size: 38px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

p {
  color: rgb(73, 73, 73);
  font-size: 18px;
}

a{
  font-family: 'Lora', serif;
  font-style: italic;
  text-decoration: none;
  font-size: 1.5em;
  color: rgb(90, 90, 90);
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
}

a:hover {
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}

.container {
  width: 700px;
  margin: 50px auto;
}

.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  padding: 120px 0;
}

.title-grey {
  color: rgb(160, 160, 160);
}

#banner-subtitle-grey{
  color: rgba(255,255,255,0.8);
  font-style: italic;
  font-family: 'Lora', serif;
  font-size: 30px;
}
